main {
  padding-left: 300px;
}

.row {
  margin-bottom: 0;
}

/* Top Section */

#top {
  height: 100vh;
  background-color: lightgray;
}

#top .container {
  position: relative;
}

#top .greeting {
  position: absolute;
  top: 0;
  left: 0;
}

/* About Section */

#about {
  background-color: lightblue;
  padding-bottom: 20px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 240px;
}

/* Skills Section */
#skills {
  background-color: lightgray;
  padding-bottom: 20px;
}

.skill-img {
  text-align: center;
}

.skill-img img {
  display: block;
  margin: 0 auto;
}

.skill-img p {
  margin: 0;
}

/* Contact Section */

#contact {
  background-color: lightblue;
  padding-bottom: 20px;
}

.contact-info {
  text-align: center;
}

/* Footer */
.page-footer {
  padding: 0;
  text-align: center;
}

/* Media Query */

@media only screen and (max-width : 992px) {
  main {
    padding-left: 0;
  }
}