/* Overall */
body {
  background-color: #fff;
}

main {
  padding-left: 200px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 85%;
}

.row {
  margin-bottom: 0;
}

.card {
  margin: 0;
}

/* Navbar */
#slide-out .active {
  color: #4caf50;
}

.active .material-icons {
  color: #4caf50!important;
}

#slide-out i {
  margin-right: 16;
}

.sidenav {
  width: 200px;
  padding-top: 100px;
}

/* Home Section */
#home {
  height: 100vh;
}

#home .container {
  position: relative;
}

#home .greeting {
  position: absolute;
  top: 0;
  left: 0;
}

/* About Section */
#about {
  padding-bottom: 20px;
}

.about-wrapper {
  margin-top: 20px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 250px;
}

.about-text {
  margin: 0;
}

.about-contact {
  margin-top: 10px;
}

/* Projects Section */
#projects {
  padding-bottom: 20px;
}

.language-images {
  margin: 10px 0;
}

.language-images span {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  font-weight: bold;
}

.language-image {
  width: 25px;
  height: 25px;
  margin: 0 2.5px;
}

.project {
  margin: 25px 0;
  display: flex;
  align-items: center;
}

.project-image-wrapper {
  text-align: center;  
}

.project-image {
  width: 100%;
  max-width: 400px;
}

.project-link {
  border-bottom: 1.5px solid #fff;
  transition: 0.5s;
  padding: 0 8px;
}

.project-link:hover {
  border-bottom: 1.5px solid rgba(0,0,0,0.87);
}

.company-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.company-title a {
  text-decoration: underline;
  text-decoration-color: #fff;
  transition: 0.5s;
}

.company-title a:hover {
  text-decoration-color: #039be5;
}

/* Skills Section */
#skills {
  padding-bottom: 20px;
}

#skills .row {
  margin-bottom: 20px;
}

.skill-img {
  text-align: center;
  margin-bottom: 20px;
}

.skill-img img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  transition: 0.3s;
}

.skill-img img:hover {
  transform: scale(1.2, 1.2);
}

.skill-img p {
  margin: 0;
}

/* Contact Section */
#contact {
  padding-bottom: 20px;
}

.contact-text {
  text-align: center;
  margin-bottom: 0;
}

#contact textarea {
  height: 6rem;
}

#contact .submit-button {
  text-align: center;
}

#contact form {
  margin: 0 auto;
  max-width: 500px;
}

/* Footer */
.page-footer {
  padding: 0;
  text-align: center;
}

/* Media Query */
@media only screen and (max-width : 1200px) {
  .card .card-content {
    padding: 12px;
  }
}

@media only screen and (max-width : 992px) {
  main {
    padding-left: 0;
  }
}

@media only screen and (max-width : 600px) {
  .container {
    width: 95%;
  }

  .about-text {
    margin: 14px 0;
  }

  .project {
    display: block;
  }

  .project-image {
    max-width: none;
  }
}