/* Overall */
:root {
  --main: #4caf50;
  --link: #039be5
  --white: #fff;
  --black: rgba(0, 0, 0, 0.87);
}

html {
  font-family: Roboto, -apple-system, BlinkMacSystemFont, "Segoe UI", Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

body {
  background-color: var(--white);
}

main {
  padding-left: 200px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 85%;
}

.row {
  margin-bottom: 0;
}

.card {
  margin: 0;
}

.link {
  position: relative;
  display: inline-block;
  text-decoration: none;
  margin-right: 10px;
  font-size: 16px;
  color: var(--black);
}

.link::after {
  position: absolute;
  bottom: -2px;
  left: 0;
  content: '';
  width: 100%;
  height: 2px;
  background: var(--black);
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform .3s;
}

.link:hover::after {
  transform: scale(1, 1);
}

.background {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  z-index: -1;
}

/* Navbar */
.navbar-fixed {
  display: none;
}

nav .brand-logo {
  font-size: 1.5rem;
}

#slide-out .active {
  color: var(--main);
}

.active .material-icons {
  color: var(--main)!important;
}

#slide-out i {
  margin-right: 16;
  line-height: 60px;
}

.sidenav {
  width: 200px;
}

.logo {
  height: 150px;
}

.sidenav .logo a {
  display: block;
  text-align: center;
  height: 100%;
  line-height: 150px;
  font-size: 2rem;
}

.sidenav .page {
  height: 60px;
}

.sidenav .page a, .sidenav .page i {
  height: 100%;
  line-height: 60px;
  align-items: center;
}

/* Home Section */
#home {
  position: relative;
  height: 100vh;
}

#home .container {
  position: relative;
}

.greeting-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 150px;
}

.greeting-icon {
  display: inline-block;
  animation: icon-shaking 0.8s linear infinite;
}

@keyframes icon-shaking {
  0% {transform: translateX(0px) rotateZ(0deg)}
  25% {transform: translateX(3px) rotateZ(10deg)}
  50% {transform: translateX(0px) rotateZ(0deg)}
  75% {transform: translateX(-3px) rotateZ(-10deg)}
  100% {transform: translateX(0px) rotateZ(0deg)}
}

#typed {
  color: var(--main);
}

.scroll-icon {
  position: absolute;
  display: inline-block;
  bottom: 15%;
  left: 50%;
  margin-left: -20px;
  font-size: 3.5rem;
  color: var(--main);
  animation: icon-scroll 0.8s linear infinite;
}

@keyframes icon-scroll {
  0% {transform: translateY(0px)}
  25% {transform: translateY(5px)}
  50% {transform: translateY(0px)}
  75% {transform: translateY(-5px)}
  100% {transform: translateY(0px)}
}

/* About Section */
#about {
  padding-bottom: 20px;
}

.about-wrapper {
  margin-top: 20px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 250px;
}

.about-text {
  margin: 0;
}

.about-contact {
  margin-top: 10px;
}

.about-link {
  font-size: 18px;
}

/* Projects Section */
#projects {
  padding-bottom: 20px;
}

.language-images {
  margin: 10px 0;
}

.language-images span {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  font-weight: bold;
}

.language-image {
  width: 25px;
  height: 25px;
  margin: 0 2.5px;
}

.bounce {
  animation: bounce-animation 0.5s linear 0s 1;
}

@keyframes bounce-animation {
  0% {transform: translateY(0px)}
  15% {transform: translateY(-10px)}
  30% {transform: translateY(0px)}
  45% {transform: translateY(-6px)}
  60% {transform: translateY(0px)}
  75% {transform: translateY(-3.6px)}
  90% {transform: translateY(0px)}
  100% {transform: translateY(0px)}
}

.project {
  margin: 25px 0;
  display: flex;
  flex-wrap: wrap;
}

.project-image-wrapper {
  margin: auto;
  text-align: center;
}

.project-image {
  width: 100%;
}

.company-title {
  font-weight: bold;
  padding-bottom: 5px;
}

.company-title a {
  text-decoration: underline;
  text-decoration-color: white;
  transition: 0.5s;
}

.company-title a:hover {
  text-decoration-color: var(--link);
}

/* Skills Section */
#skills {
  padding-bottom: 20px;
}

#skills .row {
  margin-bottom: 20px;
}

.skill-img {
  text-align: center;
  margin-bottom: 20px;
}

.skill-img img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  transition: 0.3s;
}

.skill-img img:hover {
  transform: scale(1.2, 1.2);
}

.skill-img p {
  margin: 0;
}

/* Contact Section */
#contact {
  padding-bottom: 20px;
}

.contact-text {
  text-align: center;
  margin-bottom: 0;
}

#contact textarea {
  height: 6rem;
}

#contact .submit-button {
  text-align: center;
}

#contact form {
  margin: 0 auto;
  max-width: 500px;
}

/* Footer */
.page-footer {
  padding: 0;
  text-align: center;
}

/* Media Query */
@media only screen and (max-width : 1200px) {
  .card .card-content {
    padding: 12px;
  }
}

@media only screen and (max-width : 992px) {
  main {
    padding-left: 0;
  }

  .navbar-fixed {
    display: block;
  }

  #home {
    height: calc(100vh - 64px);
  }
}

.scroll-icon {
  bottom: 20%;
}

@media only screen and (max-width : 600px) {
  .container {
    width: 95%;
  }

  #home {
    height: calc(100vh - 56px);
  }

  #home .container {
    width: 85%;
  }

  .greeting-name {
    font-size: 2.5rem;
    margin-bottom: 10px;
  }
  
  .greeting-dynamic {
    font-size: 1.5rem;
    margin-top: 10px;
  }

  .scroll-icon {
    bottom: 25%;
  }

  .about-text {
    margin: 14px 0;
  }

  .project {
    flex-direction: column;
    margin: 50px 0;
  }

  .reverse {
    flex-direction: column-reverse;
  }

  .project-image {
    max-width: none;
  }

  .skill-img img {
    height: 30px;
    width: 30px;
  }

  .skill-img p {
    font-size: 0.8rem;
  }
}