/* Overall */
main {
  padding-left: 200px;
}

.wrapper {
  width: 100%;
  overflow: hidden;
}

.container {
  width: 85%;
}

.row {
  margin-bottom: 0;
}

/* Navbar */
#slide-out .active {
  background-color: lightblue;
}

.sidenav {
  width: 200px;
  padding-top: 100px;
  background-color: lightgreen;
}

/* Home Section */
#home {
  height: 100vh;
  background-color: lightgray;
}

#home .container {
  position: relative;
}

#home .greeting {
  position: absolute;
  top: 0;
  left: 0;
}

/* About Section */
#about {
  background-color: lightblue;
  padding-bottom: 20px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  height: 240px;
}

/* Projects Section */
#projects {
  background-color: lightgray;
  padding-bottom: 20px;
}

.language-images {
  margin: 10px 0;
}

.language-images span {
  display: inline-block;
  vertical-align: top;
  line-height: 25px;
  font-weight: bold;
}

.language-image {
  width: 25px;
  height: 25px;
  margin: 0 2.5px;
}

.project {
  margin-top: 50px;
}

.project-image {
  margin-top: 20px;
}

.project-image img {
  width: 100%;
  max-width: 400px;
}

.project-link {
  border-bottom: 1.5px solid #fff;
  transition: 0.5s;
  padding: 0 8px;
}

.project-link:hover {
  border-bottom: 1.5px solid rgba(0,0,0,0.87);
}

/* Skills Section */
#skills {
  background-color: lightblue;
  padding-bottom: 20px;
}

#skills .row {
  margin-bottom: 20px;
}

.skill-img {
  text-align: center;
  margin-bottom: 20px;
}

.skill-img img {
  display: block;
  margin: 0 auto;
  height: 50px;
  width: 50px;
  transition: 0.3s;
}

.skill-img img:hover {
  transform: scale(1.2, 1.2);
}

.skill-img p {
  margin: 0;
}

/* Contact Section */
#contact {
  background-color: lightgray;
  padding-bottom: 20px;
}

.contact-text {
  text-align: center;
}

.contact-info {
  text-align: center;
}

.contact-info .button {
  display: inline-block;
  text-align: right;
}

.contact-info .content {
  display: block;
  text-align: left;
  line-height: 56px;
}

#contact textarea {
  height: 6rem;
}

#contact .submit-button {
  text-align: center;
}

/* Footer */
.page-footer {
  padding: 0;
  text-align: center;
}

/* Media Query */
@media only screen and (max-width : 1200px) {
  .card .card-content {
    padding: 12px;
  }
}

@media only screen and (max-width : 992px) {
  main {
    padding-left: 0;
  }
}

@media only screen and (max-width : 600px) {
  .container {
    width: 95%;
  }

  .project-image img {
    max-width: none;
  }

  .contact-info .button {
    text-align: center;
  }

  .contact-info .content {
    text-align: center;
    line-height: 42px;
  }
}